# Archivos de Unity generados automáticamente
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# Archivos de Visual Studio/JetBrains Rider
.vscode/
*.csproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db
*.ide/

# Archivos específicos de Unity
*.unityproj
*.mat
*.meta
*.prefab
*.asset

# Archivos de configuración de paquetes
Packages/com.unity.package-manager/
Packages/packages-lock.json

# Archivos de control de versiones de Unity
ProjectSettings/EditorBuildSettings.asset
ProjectSettings/ProjectVersion.txt

# Otros archivos innecesarios
.DS_Store
Thumbs.db
*.bak
*.obj
*.log
*.apk
*.aab
*.zip
*.rar
